/*
Evan Chou
COEN60 Lab 5
CSS style
*/

p:hover,
span:hover,
link:hover,
ul:hover,
ol:hover,
table:hover,
caption:hover {
    background-color: yellow;
}

.box1 {
    border: 5px solid green;
    background-color: white;
    padding: 5px;
    margin-top: 10px;
}

header {
    text-align: center;
    font-size: 190%;
    color: #282828;
}

#header1 {
    margin-top: 5px;
}

#headerparagraph {
    font-size: 80%;
}

#Photo1 {
    border-radius: 60%;
    width: 15%;
    height: 15%;
    margin-top: -20px;
}

body {
    font-family: arial;
}

h1 {
    font-family: Helvetica, sans-serif;
}

.box2 {
    padding: 5px;
    border: 5px solid blue;
    margin-top: 10px;
    background-color: #E8FBFB;
}

.row {
    display: flex;
    flex-direction: row;
}

.row:after {
    /*Make into tables*/
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 30%;
    height: auto;
    padding: 14px 14px;
    margin-left: 35px;
    margin-right: 50px;
}

#middlecolumn {
    margin-top: 10px;
    text-align: center;
}

#bottommiddle {
    float: center;
    padding-left: 60px;
    width: 70%;
    height: 60%;
    margin-top: 2px;
}

#paragraphmiddle {
    margin-top: -15px;
    margin-bottom: 15px;
    text-align: center;
}

.leftcolumn {
    border: 5px solid skyblue;
    margin-top: 5px;
}

ol {
    /*make list left aligned in column*/
    text-align: left;
}

#paragraphleft {
    margin-bottom: 15px;
}

#margin {
    margin-top: 20px;
}

#margin2 {
    margin-top: 20px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#sidebar.column {
    margin-top: 30px;
    margin-bottom: 70px;
    background-color: lightgray;
}

#sidebar p {
    margin: 14px 5px 15px;
}

#columntitle {
    text-align: center;
}

#bottomright {
    width: 100%;
    height: 60%;
    margin-top: 15px;
    margin-bottom: 25px;
}

#columnparagraph {
    text-align: center;
}

.box3 {
    border: 5px solid pink;
    padding: 5px;
    margin-top: 10px;
    background-image: url("images/tryguys.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

h2 {
    font-size: 45px;
    text-align: center;
}

#youtubeparagraph {
    font-size: 20px;
}

iframe {
    margin-bottom: 60px;
}

.navigationbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgreen;
    text-align: center;
}

.navigationbar a {
    display: inline-block;
    color: #505050;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 20px;
}

a:hover {
    /*When mouse hovers over link, the color will change to green (d1de44)*/
    color: black;
}

footer {
    list-style-type: none;
    margin: 0;
    padding: 24px;
    overflow: hidden;
    background-color: #A8A8A8;
    text-align: center;
    font-size: 12px;
    color: grey;
}

footer a {
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    color: black;
}

#button1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 0px;
    background-color: #e3d55f;
    padding: 15px 32px;
    border: none;
    font-weight: bold;
}

#privacy {
    text-align: center;
}